h1, h2, h3 {
  color: var(--black-light);
  font-size: 4.8rem;
  font-weight: 600;
}

h1, h3 {
  line-height: 5.2rem;
}

h2 {
  line-height: 7.2rem;
}

.menu-item {
  color: var(--black-light);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.container-btn {
  width: fit-content;
  background: var(--red);
  padding: 1.2rem 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}